
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

/* Tailwind*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* FONTS*/
.headertext{
  font-family: 'Castoro Titling', cursive;
}

/* IMAGE HEADER*/


.button:hover{
  background-color: white;
  border-radius: 0.5rem/* 8px */;
  cursor: pointer;
  color: black;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hidenav{
  opacity: 0;
  transition: 0.25s;
  transition-timing-function: ease-out;
  
}

.shownav{
  opacity: 1;
  transition: 0.25s;
  transition-timing-function: ease-in;
}